# fastapi
# uvicorn[standard]
# python-dotenv
# sqlalchemy
# passlib[bcrypt]==1.7.4
# bcrypt==3.2.2
# python-jose[cryptography]
# pydantic[email]
# asyncpg
# python-multipart
# pytest
# minio>=7.2.13
# pydantic-settings>=2.7.1
# pytest-mock
# alembic


fastapi
uvicorn[standard]
python-dotenv

# Database (ASYNC)
sqlalchemy>=2.0
asyncpg
alembic
sqlmodel

# Auth / Security
passlib[bcrypt]==1.7.4
bcrypt==3.2.2
python-jose[cryptography]

# Validation
pydantic[email]
pydantic-settings>=2.7.1

# Forms / uploads
python-multipart

# Storage
minio>=7.2.13

# Testing
pytest
pytest-mock
