# fastapi
# uvicorn[standard]
# python-dotenv
# sqlalchemy
# passlib[bcrypt]==1.7.4
# bcrypt==3.2.2
# python-jose[cryptography]
# pydantic[email]
# asyncpg
# python-multipart
# pytest
# minio>=7.2.13
# pydantic-settings>=2.7.1
# pytest-mock
# alembic


fastapi
uvicorn[standard]
python-dotenv

# Database (ASYNC)
sqlalchemy>=2.0
asyncpg
alembic
sqlmodel

# Auth / Security
passlib[bcrypt]==1.7.4
bcrypt==3.2.2
python-jose[cryptography]

# Validation
pydantic[email]
pydantic-settings>=2.7.1

# Forms / uploads
python-multipart

# Storage
minio>=7.2.13
pydantic-settings>=2.7.1
pytest-mock
httpx


pytest==8.1.1
pytest-asyncio==0.23.5
httpx==0.27.0
pytest-mock==3.12.0


# Storage
boto3==1.34.0  # AWS S3


# Add if not present
python-multipart==0.0.6  # For file uploads
